<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mftoolset.magnaflow.com/ExtPartMappingTool</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>MFToolset/ExtPartMappingTool</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Magnaflow_WebEntitiesProd" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ExtPartMappingTool.Magnaflow_WebEntitiesProd, ExtPartMappingTool" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Magnaflow_WebEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ExtPartMappingTool.Magnaflow_WebEntities, ExtPartMappingTool" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ExtPartMappingTool.Models.ApplicationDbContext, ExtPartMappingTool" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Magnaflow_WebStagingEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=54.183.145.204;Initial Catalog=Magnaflow_Web;Persist Security Info=True;User ID=svcSQL;Password=&quot;Xe6=$v-7}HIkj|S&gt;&quot;;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Magnaflow_WebStagingEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/ExtPartMappingStagingEntityModel.csdl|res://*/ExtPartMappingStagingEntityModel.ssdl|res://*/ExtPartMappingStagingEntityModel.msl;provider=System.Data.SqlClient;provider connection string='data source=54.183.145.204;initial catalog=Magnaflow_Web;persist security info=True;user id=svcSQL;password=&quot;Xe6=$v-7}HIkj|S&gt;&quot;;MultipleActiveResultSets=True;App=EntityFramework'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ADConnectionString" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="LDAP://magnaflow.com:389/DC=magnaflow,DC=com" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ADConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="LDAP://magnaflow.com:389/DC=magnaflow,DC=com" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Magnaflow_WebEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Magnaflow_WebEntitiesProd-Web.config Connection String" />
  </ItemGroup>
</Project>